<!-- Describe task in general -->

<p style="text-align: justify;">
    Припустимо, тобі дано {% if is_js %}масив масивів{% else %}список списків{% endif %} з додатних/від'ємних цілих/з плаваючою крапкою чисел, наприклад - <b>[[1, 2, 10, 150], [10, 2, 1000, 2], [1, 120, 1, 1000]]</b>. Він завжди коректно заповнений: містить щонайменше один непорожній внутрішній {% if is_js %}масив{% else %}список{% endif %}.
</p>
<p>
    Якщо ти надрукуєш його як єдиний об'єкт, то отримаєш
<table>
    <tr>
        <td>
            <img  title="example" src="{{MEDIA}}No.png" alt="example" style="max-height: 100px"/>
        </td>
        <td>
            <pre>
[[1, 2, 10, 150], [10, 2, 1000, 2], [1, 120, 1, 1000]]
            </pre>
        </td>
    </tr>
    </td>
</table>
    або рядок за рядком:
    <table>
        <tr>
            <td>
                <img  title="example" src="{{MEDIA}}No.png" alt="example" style="max-height: 100px"/>
            </td>
            <td>
                <pre>
[1, 2, 10, 150]
[10, 2, 1000, 2]
[1, 120, 1, 1000]
                </pre>
            </td>
        </tr>
        </td>
    </table>
</p>
<p style="text-align: justify;">
    Твоя функція повинна повернути потрохи із обох виглядів, і поліпшено: <b>єдиний рядок</b> (багаторядковий, якщо більше одного внутрішнього {% if is_js %}масива{% else %}списка{% endif %}), де числа в колонках вирівняні по правому краю. Повинен бути чітко один пробіл між найдовшим числом у колонці включаючи знак мінус (якщо є) і попередньою комою в рядку. Усі рядки однакової довжини, обгорнуті всі разом у дужки {% if is_js %}масива{% else %}списка{% endif %}.
    <table>
        <tr>
            <td>
                <img  title="example" src="{{MEDIA}}Yes.png" alt="example" style="max-height: 100px"/>
            </td>
            <td>
                <pre>
[[ 1,   2,   10,  150],
 [10,   2, 1000,    2],
 [ 1, 120,    1, 1000]]
                </pre>
            </td>
        </tr>
        </td>
    </table>
</p>
<p>
    <i>
        Хіба він не прекрасний тепер 😍?!
    </i>
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив масивів{% else %}Список списків{% endif %} чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> Рядок. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
