<!-- Describe task in general -->

<p>
    Let's assume, you are given a{% if is_js %}n array of arrays{% else %} list of lists{% endif %} of positive/negative integer/float numbers, for example - <b>[[1, 2, 10, 150], [10, 2, 1000, 2], [1, 120, 1, 1000]]</b>. It's always correctly filled: has at least one non-empty inner {% if is_js %}array{% else %}list{% endif %}.
</p>
<p>
    When you print it as a single object, you receive
    <table>
        <tr>
            <td>
                <img  title="example" src="{{MEDIA}}No.png" alt="example" style="max-height: 100px"/>
            </td>
            <td>
                <pre>
[[1, 2, 10, 150], [10, 2, 1000, 2], [1, 120, 1, 1000]]
                </pre>
            </td>
        </tr>
        </td>
    </table>
    or row by row:
    <table>
        <tr>
            <td>
                <img  title="example" src="{{MEDIA}}No.png" alt="example" style="max-height: 100px"/>
            </td>
            <td>
                <pre>
[1, 2, 10, 150]
[10, 2, 1000, 2]
[1, 120, 1, 1000]
                </pre>
            </td>
        </tr>
        </td>
    </table>
</p>
<p>
    Your function should return something from both views and improved: a <b>single string</b> (multiline if more than one inner {% if is_js %}array{% else %}list{% endif %}), where numbers in columns should be right-aligned. There must be exactly one whitespace between the longest number in a column incl. minus (if present) and the previous comma in a row. All rows of the same length, wrapped together in the {% if is_js %}array{% else %}list{% endif %} brackets.
    <table>
        <tr>
            <td>
                <img  title="example" src="{{MEDIA}}Yes.png" alt="example" style="max-height: 100px"/>
            </td>
            <td>
                <pre>
[[ 1,   2,   10,  150],
 [10,   2, 1000,    2],
 [ 1, 120,    1, 1000]]
                </pre>
            </td>
        </tr>
        </td>
    </table>
</p>
<p>
    <i>
        Isn't it beautiful now 😍?
    </i>
    
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array of arrays{% else %}List of lists{% endif %} of numbers.
</p>

<p>
    <strong>Output:</strong> String. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
